In [1]:
#Read the tips dataset from the provided source only. Handle the missing values with the appropriate techniques.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
df = pd.read_csv('tips.csv')
df

     Unnamed: 0  total_bill   tip     sex smoker   day    time  size
0             0       16.99  1.01  Female     No   Sun  Dinner     2
1             1         NaN  1.66    Male     No   Sun  Dinner     3
2             2       21.01  3.50    Male     No   Sun  Dinner     3
3             3       23.68  3.31    Male     No   Sun  Dinner     2
4             4       24.59  3.61  Female     No   Sun  Dinner     4
..          ...         ...   ...     ...    ...   ...     ...   ...
239         239       29.03  5.92    Male     No   Sat  Dinner     3
240         240       27.18  2.00  Female    Yes   Sat  Dinner     2
241         241       22.67  2.00    Male    Yes   Sat  Dinner     2
242         242       17.82  1.75    Male     No   Sat  Dinner     2
243         243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 8 columns]

In [ ]:
import pandas as pd
data = pd.read_csv('tips.csv')
missing_values = data.isnull().sum()
print("Missing values in the dataset:")
print(missing_values)

Missing values in the dataset:
Unnamed: 0     0
total_bill    39
tip            0
sex            0
smoker         0
day            0
time           0
size           0
dtype: int64

In [3]:
df['total_bill'] = df['total_bill'].fillna(df['total_bill'].mean())
df

     Unnamed: 0  total_bill   tip     sex smoker   day    time  size
0             0   16.990000  1.01  Female     No   Sun  Dinner     2
1             1   21.360195  1.66    Male     No   Sun  Dinner     3
2             2   21.010000  3.50    Male     No   Sun  Dinner     3
3             3   23.680000  3.31    Male     No   Sun  Dinner     2
4             4   24.590000  3.61  Female     No   Sun  Dinner     4
..          ...         ...   ...     ...    ...   ...     ...   ...
239         239   29.030000  5.92    Male     No   Sat  Dinner     3
240         240   27.180000  2.00  Female    Yes   Sat  Dinner     2
241         241   22.670000  2.00    Male    Yes   Sat  Dinner     2
242         242   17.820000  1.75    Male     No   Sat  Dinner     2
243         243   18.780000  3.00  Female     No  Thur  Dinner     2

[244 rows x 8 columns]

In [ ]:
df = pd.get_dummies(data,drop_first=True)
df.shape

(244, 10)

In [ ]:
#2 Handle the categorical data in the tips dataset with the relevant approaches such as label-encoding, one hot encoding, ordinal encoding.

#One hot encoding
import seaborn as sns
import pandas as pd
tips = sns.load_dataset('tips')
print(tips.head())
tips_encoded = pd.get_dummies(tips, columns=['sex', 'smoker', 'day'])
print(tips_encoded.head())

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
   total_bill   tip    time  size  sex_Male  sex_Female  smoker_Yes  \
0       16.99  1.01  Dinner     2         0           1           0
1       10.34  1.66  Dinner     3         1           0           0
2       21.01  3.50  Dinner     3         1           0           0
3       23.68  3.31  Dinner     2         1           0           0
4       24.59  3.61  Dinner     4         0           1           0

   smoker_No  day_Thur  day_Fri  day_Sat  day_Sun
0          1         0        0        0        1
1          1         0        0        0        1
2          1         0        0        0        1
3          1         0        0        0        1
4          1         0        0        0        1

In [ ]:
#label encoding
from sklearn.preprocessing import LabelEncoder
categorical_cols = data.select_dtypes(include=['object']).columns
label_encoder = LabelEncoder()
for col in categorical_cols:
    data[col] = label_encoder.fit_transform(data[col])
print(data)

     Unnamed: 0  total_bill   tip  sex  smoker  day  time  size
0             0       16.99  1.01    0       0    2     0     2
1             1         NaN  1.66    1       0    2     0     3
2             2       21.01  3.50    1       0    2     0     3
3             3       23.68  3.31    1       0    2     0     2
4             4       24.59  3.61    0       0    2     0     4
..          ...         ...   ...  ...     ...  ...   ...   ...
239         239       29.03  5.92    1       0    1     0     3
240         240       27.18  2.00    0       1    1     0     2
241         241       22.67  2.00    1       1    1     0     2
242         242       17.82  1.75    1       0    1     0     2
243         243       18.78  3.00    0       0    3     0     2

[244 rows x 8 columns]

In [ ]:
#ordinal encoding

import pandas as pd
from sklearn.preprocessing import OrdinalEncoder
tips_df = pd.read_csv("tips.csv")
day_order = ['Thur', 'Fri', 'Sat', 'Sun']
time_order = ['Lunch', 'Dinner']
sex_order = ['Male' , 'Female']
smoker_order = ['yes','no']
ordinal_categories = {
    'day': day_order,
    'time': time_order,
    'sex': sex_order,
    'smoker': smoker_order
}
ordinal_encoder = OrdinalEncoder(categories=[ordinal_categories[col] for col in ['day', 'time']])
tips_df[['day', 'time']] = ordinal_encoder.fit_transform(tips_df[['day', 'time']])
print(tips_df)

     Unnamed: 0  total_bill   tip     sex smoker  day  time  size
0             0       16.99  1.01  Female     No  3.0   1.0     2
1             1         NaN  1.66    Male     No  3.0   1.0     3
2             2       21.01  3.50    Male     No  3.0   1.0     3
3             3       23.68  3.31    Male     No  3.0   1.0     2
4             4       24.59  3.61  Female     No  3.0   1.0     4
..          ...         ...   ...     ...    ...  ...   ...   ...
239         239       29.03  5.92    Male     No  2.0   1.0     3
240         240       27.18  2.00  Female    Yes  2.0   1.0     2
241         241       22.67  2.00    Male    Yes  2.0   1.0     2
242         242       17.82  1.75    Male     No  2.0   1.0     2
243         243       18.78  3.00  Female     No  0.0   1.0     2

[244 rows x 8 columns]

In [1]:
#3 Perform feature scaling techniques such as min-max normalization, standardization, z-score, onthe tips dataset.
import pandas as pd
import seaborn as sns
tips = sns.load_dataset('tips')
print(tips.head())

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [2]:
#min max normalization

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaled_data = scaler.fit_transform(tips[['total_bill', 'tip']])
scaled_df = pd.DataFrame(scaled_data, columns=['total_bill_scaled', 'tip_scaled'])
scaled_tips = pd.concat([tips, scaled_df], axis=1)
print(scaled_tips.head())

   total_bill   tip     sex smoker  day    time  size  total_bill_scaled  \
0       16.99  1.01  Female     No  Sun  Dinner     2           0.291579
1       10.34  1.66    Male     No  Sun  Dinner     3           0.152283
2       21.01  3.50    Male     No  Sun  Dinner     3           0.375786
3       23.68  3.31    Male     No  Sun  Dinner     2           0.431713
4       24.59  3.61  Female     No  Sun  Dinner     4           0.450775

   tip_scaled
0    0.001111
1    0.073333
2    0.277778
3    0.256667
4    0.290000

In [3]:
#standardization

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
standardized_data = scaler.fit_transform(tips[['total_bill', 'tip']])
standardized_df = pd.DataFrame(standardized_data, columns=['total_bill_standardized', 'tip_standardized'])
standardized_tips = pd.concat([tips, standardized_df], axis=1)
print(standardized_tips.head())

   total_bill   tip     sex smoker  day    time  size  \
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

   total_bill_standardized  tip_standardized
0                -0.314711         -1.439947
1                -1.063235         -0.969205
2                 0.137780          0.363356
3                 0.438315          0.225754
4                 0.540745          0.443020

In [4]:
# Z-score normalization

print(standardized_tips.head())

   total_bill   tip     sex smoker  day    time  size  \
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

   total_bill_standardized  tip_standardized
0                -0.314711         -1.439947
1                -1.063235         -0.969205
2                 0.137780          0.363356
3                 0.438315          0.225754
4                 0.540745          0.443020

In [5]:
#4 Create a new feature representing the average tip percentage for each dining party size.

import pandas as pd
import seaborn as sns
tips = sns.load_dataset('tips')
tips['tip_percentage'] = tips['tip'] / tips['total_bill'] * 100
average_tip_percentage_by_size = tips.groupby('size')['tip_percentage'].mean().reset_index()
average_tip_percentage_by_size.columns = ['party_size', 'avg_tip_percentage']
print(average_tip_percentage_by_size)

   party_size  avg_tip_percentage
0           1           21.729202
1           2           16.571919
2           3           15.215685
3           4           14.594901
4           5           14.149549
5           6           15.622920

In [6]:
#5 Create a new feature based on total bill and tips if total bill is greater than 10$ and tips is greater
#than 3$ mark as Highest-bills-with-tips otherwise Normal-bills

import pandas as pd
import seaborn as sns
tips = sns.load_dataset('tips')
def label_bills(row):
    if row['total_bill'] > 10 and row['tip'] > 3:
        return 'Highest-bills-with-tips'
    else:
        return 'Normal-bills'
tips['bill_and_tip_category'] = tips.apply(label_bills, axis=1)
print(tips.head())

   total_bill   tip     sex smoker  day    time  size    bill_and_tip_category
0       16.99  1.01  Female     No  Sun  Dinner     2             Normal-bills
1       10.34  1.66    Male     No  Sun  Dinner     3             Normal-bills
2       21.01  3.50    Male     No  Sun  Dinner     3  Highest-bills-with-tips
3       23.68  3.31    Male     No  Sun  Dinner     2  Highest-bills-with-tips
4       24.59  3.61  Female     No  Sun  Dinner     4  Highest-bills-with-tips