# NUMPY

In [1]:
#1 Write a NumPy program to multiply two given arrays of same size element-by-element.
import numpy as np
array1 = np.array([6, 4, 9, 5])
array2 = np.array([5, 2, 7, 1])
result = array1 * array2
print("Array 1:", array1)
print("Array 2:", array2)
print("Result:", result)

Array 1: [6 4 9 5]
Array 2: [5 2 7 1]
Result: [30  8 63  5]

In [4]:
#2 Write a NumPy program to find the missing data in a given array.
import numpy as np
array_with_missing_data = np.array([1, np.nan, 3, 4, np.nan, 6])
missing_indices = np.isnan(array_with_missing_data)
missing_values = array_with_missing_data[missing_indices]
print("Array with missing data:", array_with_missing_data)
print("Indices of missing data:", missing_indices)
print("Missing values:", missing_values)

Array with missing data: [ 1. nan  3.  4. nan  6.]
Indices of missing data: [False  True False False  True False]
Missing values: [nan nan]

In [5]:
#3 Write a NumPy program to test whether each element of a 1-D array is also present in a second array.
import numpy as np
array1 = np.array([6, 4, 9, 5])
array2 = np.array([5, 2, 7, 1])
presence_check = np.in1d(array1, array2)
print("Array 1:", array1)
print("Array 2:", array2)
print("Presence check:", presence_check)

Array 1: [6 4 9 5]
Array 2: [5 2 7 1]
Presence check: [False False False  True]

In [6]:
#4 Write a NumPy program to save a NumPy array to a text file.
import numpy as np
array_to_save = np.array([[1, 2, 3],
                          [4, 5, 6],
                          [7, 8, 9]])
file_path = "array_data.txt"
np.savetxt(file_path, array_to_save)
print("Array has been saved to", file_path)

Array has been saved to array_data.txt

In [5]:
#5 Write a NumPy program to Create a 1-D array of 30 evenly spaced elements between 2.5. and 6.5, inclusive.
import numpy as np
array = np.linspace(2.5, 6.5, 30)
print("1-D array of 30 evenly spaced elements between 2.5 and 6.5 (inclusive):")
print(array)

1-D array of 30 evenly spaced elements between 2.5 and 6.5 (inclusive):
[2.5        2.63793103 2.77586207 2.9137931  3.05172414 3.18965517
 3.32758621 3.46551724 3.60344828 3.74137931 3.87931034 4.01724138
 4.15517241 4.29310345 4.43103448 4.56896552 4.70689655 4.84482759
 4.98275862 5.12068966 5.25862069 5.39655172 5.53448276 5.67241379
 5.81034483 5.94827586 6.0862069  6.22413793 6.36206897 6.5       ]

# PANDAS

In [7]:
#1 Write a Pandas program to convert Series of lists to one Series.
import pandas as pd
series_of_lists = pd.Series([[1, 4, 3], [4, 12], [61, 32, 18]])
single_series = series_of_lists.explode()
print("Series of lists:")
print(series_of_lists)
print("\nSingle Series:")
print(single_series)

Series of lists:
0       [1, 4, 3]
1         [4, 12]
2    [61, 32, 18]
dtype: object

Single Series:
0     1
0     4
0     3
1     4
1    12
2    61
2    32
2    18
dtype: object

In [8]:
#2 Write a Pandas program to create a subset of a given series based on value and condition.
import pandas as pd
data = {'A': [1, 2, 3, 4, 5],
        'B': ['a', 'b', 'c', 'd', 'e']}
series = pd.Series(data['A'], index=data['B'])
condition_value = 2
subset = series[series == condition_value]
print("Original Series:")
print(series)
print("\nSubset where values are equal to", condition_value)
print(subset)

Original Series:
a    1
b    2
c    3
d    4
e    5
dtype: int64

Subset where values are equal to 2
b    2
dtype: int64

In [27]:
#3 Write a Pandas program to display most frequent value in a given series and replace everything else as 'Other' in the series.
import pandas as pd
s = pd.Series(['A', 'B', 'A', 'C', 'A', 'D', 'B'])
most_frequent = s.value_counts().index[0]
s[~s.isin(s.value_counts().index[:1])] = 'Other'
print("Most frequent value:", most_frequent)
print("Modified Series:")
print(s)

Most frequent value: A
Modified Series:
0        A
1    Other
2        A
3    Other
4        A
5    Other
6    Other
dtype: object

In [15]:
#4 Write a Pandas program to find the positions of numbers that are multiples of 5 of a given series.
import pandas as pd
s = pd.Series([10, 2, 12, 30, 19, 15])
positions = s.index[s % 5 == 0]
print("Positions of multiples of 5:", positions)

Positions of multiples of 5: Int64Index([0, 3, 5], dtype='int64')

In [26]:
#5 Write a Pandas program to calculate the number of characters in each word in a given series.
import pandas as pd
s = pd.Series(['APPLE', 'BALL', 'CAT', 'DOLL', 'EGG'])
char_counts = s.str.len()
print("Character counts:")
print(char_counts)

Character counts:
0    5
1    4
2    3
3    4
4    3
dtype: int64

In [11]:
#6 Write a Pandas program to convert year-month string to dates adding a specified day of the month.
import pandas as pd
data = ["2023-01", "2024-02", "2025-03"]
s = pd.Series(data)
day = 15
dates = pd.to_datetime(s, format="%Y-%m")
dates += pd.to_timedelta(day, unit="D")
print("Dates with added day:", dates)

Dates with added day: 0   2023-01-16
1   2024-02-16
2   2025-03-16
dtype: datetime64[ns]

In [25]:
#7 Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels.
import pandas as pd
data = {
    "Name": ["rashmita", "haritha", "akhila"],
    "Age": [20, 30, 38],
    "City": ["hyderabad", "machilipatnam", "hyderabad"],
}
df = pd.DataFrame(data, index=index_labels)
print(df)

       Name  Age           City
1  rashmita   20      hyderabad
2   haritha   30  machilipatnam
3    akhila   38      hyderabad

In [21]:
#8 Write a Pandas program to select the rows where the number of attempts in the examination is greater than 2.
import pandas as pd
data = {'Student': ['rashmita', 'haritha', 'akhila', 'sahithi'],
        'Attempts': [3, 2, 2, 1]}
df = pd.DataFrame(data)
selected_rows = df[df['Attempts'] > 2]
print("Original DataFrame:")
print(df)
print("\nRows where the number of attempts is greater than 2:")
print(selected_rows)

Original DataFrame:
    Student  Attempts
0  rashmita         3
1   haritha         2
2    akhila         2
3   sahithi         1

Rows where the number of attempts is greater than 2:
    Student  Attempts
0  rashmita         3

In [31]:
#9 Write a Pandas program to append a new row 'k' to data frame with given values for each column. Now delete the new row and return the original DataFrame.
import pandas as pd
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})
new_row_values = {'A': 22, 'B': 34, 'C': 62}
print("\nOriginal DataFrame:\n", df)
df = df.append(new_row_values, ignore_index=True)
print("DataFrame with new row:\n", df)
df = df.iloc[:-1]  
print("\nAfter deletion of row DataFrame:\n", df)

Original DataFrame:
    A  B  C
0  1  4  7
1  2  5  8
2  3  6  9
DataFrame with new row:
     A   B   C
0   1   4   7
1   2   5   8
2   3   6   9
3  22  34  62

After deletion of row DataFrame:
    A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

C:\Users\RATAN\AppData\Local\Temp\ipykernel_21444\25131779.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(new_row_values, ignore_index=True)

In [39]:
#10 Write a Pandas program to sort the DataFrame first by 'name' in descending order, then by score in ascending order.
import pandas as pd
data = {'name': ['rashmita', 'haritha', 'akhila', 'sahithi', 'bindhu'],
        'score': [84, 92, 90, 89, 93]}
df = pd.DataFrame(data)
print("Names in descending order:")
df = df.sort_values(by=['name', 'score'], ascending=[False, True])
print(df)
print("Scores in ascending order:")
df = df.sort_values(by=['score', 'name' ], ascending=[True, False])
print(df)

Names in descending order:
       name  score
3   sahithi     89
0  rashmita     84
1   haritha     92
4    bindhu     93
2    akhila     90
Scores in ascending order:
       name  score
0  rashmita     84
3   sahithi     89
2    akhila     90
1   haritha     92
4    bindhu     93

In [41]:
#11 Write a Pandas program to replace the 'qualify' column contains the values 'yes' and 'no' with True and False.
import pandas as pd
data = {'name': ['rashmita', 'haritha', 'akhila', 'sahithi', 'bindhu'],
        'score': [86, 92, 79, 80, 84],
        'qualify': ['yes', 'yes', 'no', 'no', 'yes']}
df = pd.DataFrame(data)
df['qualify'] = df['qualify'].replace({'yes': True, 'no': False})
print(df)

       name  score  qualify
0  rashmita     86     True
1   haritha     92     True
2    akhila     79    False
3   sahithi     80    False
4    bindhu     84     True

In [42]:
#12 Write a Pandas program to remove infinite values from a given DataFrame.
import pandas as pd
import numpy as np
data = {'col1': [21, np.inf, 15, 72, -np.inf],
        'col2': [47, 31, np.inf, 16, 47]}
df = pd.DataFrame(data)
df = df.replace([np.inf, -np.inf], np.nan)
df = df.dropna()
print(df)

   col1  col2
0  21.0  47.0
3  72.0  16.0